@import "tailwindcss";

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 6px; 
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 6px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #5063EE; 
      border-radius: 6px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #3548C2; 
    }
  }
  

  .text-xxs {
    font-size: 0.65rem;
    line-height: 0.85rem;
  }