@import "tailwindcss";

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  font-family: inherit;
}

.mapboxgl-ctrl-geocoder--input {
  padding: 6px 35px;
  font-size: 14px;
}

.mapboxgl-ctrl-geocoder--icon {
  top: 8px;
}

.mapboxgl-ctrl-geocoder--button {
  top: 5px;
}